html, body {
  background-color: #252525;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */

.Navigation {
  background-color: #252525 !important;
  color: #F9FBEF;
  font-family: "nunito", sans-serif;
  font-weight: 700;
  font-style: italic;
  border-bottom: solid 3px #F46036;
  position: sticky !important;
  top: 0;
  z-index: 1000;
}

.NavLink:hover {
  color: #4CC2EC !important;
}

.brand-color {
  color: #F9FBEF !important;
  font-family: "nunito", sans-serif;
font-weight: 700;
font-style: italic;
}

/* Login Landing Page Styles */

.login-landing {
  background-color: #252525;
  color:#F9FBEF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: -50px;
  overflow: hidden;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-left: -55px;
}

.app-logo {
  width: 300px;
  height: auto;
  padding: 0;
  margin-right: -40px;
}

.landing-name{
  font-size: 100px;
  font-family: "nunito", sans-serif;
font-weight: 700;
font-style: italic;
color: #F9FBEF
}

.p-landing {
  font-size: 30px;
  font-family: "nunito", sans-serif;
font-weight: 700;
font-style: italic;
color: #F9FBEF;
}

.landing-button {
  font-family: "nunito", sans-serif !important;
font-weight: 700 !important;
font-style: italic;
font-size: 20px !important;
height: 50px;
width: 200px;
background-color: #23216C !important;
color: #F9FBEF !important;
border: 2px solid #F9FBEF !important;
}

.landing-button:hover {
  background-color: #4CC2EC !important;
}

/* Home Page Styles */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; 
  width: 100%;
  margin: 0;
  padding: 0;
 background-color: #252525;
 color: #F9FBEF;
}

.home-h1 {
  font-size: 75px;
  font-family: "nunito", sans-serif;
font-weight: 700;
font-style: italic;

}

.home-logo {
width: 175px;
height: auto;
margin-left: -30px;
margin-bottom: -10px;
}

.home-h3 {
  font-family: "nunito", sans-serif;
font-weight: 700;
font-style: italic;
}

.home-title {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-left: -55px;
  margin-bottom: -10px;
}

.home-events {
  background-color: #23216C;
  color:#F9FBEF;
  padding: 20px;
  border-radius: 10px;
  font-family: "nunito", sans-serif;
font-weight: 700;
font-style: italic;
border: solid 5px #4CC2EC;
}

.home-events:hover {
  background-color: #F46036;
  border-color: #D7263D;
}

.home-events-link {
  text-decoration: none; 
  color: inherit; 
  display: block; 
}

/* Auth Modal Styles */


.auth-model .nav-tabs {
  display: flex;
  flex-direction: row;
}

.auth-model .nav-item {
  flex: 1;
}

.modal-body  {
  background-color: #252525;
  color: #F9FBEF;
  border-bottom: none !important;
  border-top: none !important;
}

.modal-footer {
  background-color: #252525 !important;
  color: #F9FBEF !important;
}

.modal-button {
  border: solid 3px #D7263D !important;
  background-color: #F46036 !important;
  color: #F9FBEF !important;
  font-family: "nunito", sans-serif;
font-weight: 700;
font-style: italic;
}

.modal-button:hover {
  border: solid 3px #4CC2EC !important;
  background-color: #23216C !important;
}

.modal-header {
  background-color: #252525;
  color: #F9FBEF;
  border-bottom: solid 3px #F46036 !important;
}
.auth-model .modal-dialog {
  background-color: #F46036 !important;
  margin-top: 200px;
  max-width: 800px;
  max-height: 600px;
  border: solid 3px #F46036;
  border-radius: 12px;
  font-family: "nunito", sans-serif;
font-weight: 700;
font-style: italic;
}

.nav-tabs .nav-item .nav-link.active {
  color: #F9FBEF !important; 
  background-color: transparent !important; 
  border-color: #F9FBEF !important;
  border-bottom: transparent !important;
}

.nav-tabs .nav-link {
  border-bottom: 1px solid #F9FBEF !important;
}

.nav-tabs .nav-link.active {
  border-bottom: none !important;
}

.form-label {
  margin-top: 10px;
}

.auth-model .form-control:focus {
  border: solid 1px #F46036 !important;          
  box-shadow: 0 0 0 0.2rem #F46036 !important;
}

.nav-tabs {
  --bs-nav-tabs-border-color: transparent !important;
}

.nav {
  --bs-nav-link-color: #F9FBEF !important;
    --bs-nav-link-hover-color: #F9FBEF !important;
}

/* Events Page Styles */

.events-container {
  background-color: #252525;
  color: #F9FBEF;
  height: 100vh; 
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "nunito", sans-serif;
font-weight: 700;
font-style: italic;
}

.detailsSection {
  background-color: #F46036;
border: 5px solid #D7263D; 
  color:#F9FBEF; 
  border-radius: 12px;
  padding: 20px;
}

.rsvp-button {
  margin: 10px;
  background-color: #23216C !important;
  border: solid 3px #4CC2EC !important;
  font-family: "nunito", sans-serif;
font-weight: 700;
font-style: italic;
}

.rsvp-button:hover {
  background-color: #F46036 !important;
  border: solid 3px #D7263D !important;
}

.donate-button {
  background-color: #23216C !important;
  border: solid 3px #4CC2EC !important;
  font-family: "nunito", sans-serif;
font-weight: 700;
font-style: italic;
}

.donate-button:hover {
  background-color: #F46036 !important;
  border: solid 3px #D7263D !important;
}

.modal-content {
  border: solid 3px #F46036 !important;
  border-radius: 12px;
}

.rsvp-modal-header {
  background-color: #252525;
  color: #F9FBEF;
  padding: 18px;
}

.modal-close {
  background-color: #23216C !important;
  border: solid 3px #4CC2EC !important;
}

.modal-close:hover {
  background-color: #F46036 !important;
  border: solid 3px #D7263D !important;
}

.mapSection {
border: solid 3px #F46036 !important;
}

/* Profile Styles */

.profile-container {
  background-color: #252525;
  color: #F9FBEF;
  height: 100vh; 
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "nunito", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.event-create {
  background-color: #23216C !important;
  border: solid 3px #4CC2EC !important;
}

.event-create:hover {
  background-color: #F46036 !important;
  border: solid 3px #D7263D !important;
}

.current-events {
  border-bottom: 2px solid #4CC2EC !important;
  background-color: #4CC2EC !important;
}

.current-event {
  background-color: #23216C !important;
  border-bottom: 1px solid #4CC2EC !important;
  border-right: 3px solid #4CC2EC !important;
  border-top: 3px solid #4CC2EC !important;
  border-left: 3px solid #4CC2EC !important;
  color:#F9FBEF !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
  font-size: 1.3rem;
}

.past-events {
  border-bottom: 2px solid #D7263D !important;
  background-color: #D7263D !important;
}

.past-event {
  background-color: #F46036 !important;
  border-bottom: 1px solid #D7263D !important;
  border-right: 3px solid #D7263D !important;
  border-top: 3px solid #D7263D !important;
  border-left: 3px solid #D7263D !important;
  color:#F9FBEF !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
  font-size: 1.3rem;
}
